.switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

.switchButton {
    width: 32px;
    height: 32px;
    background: var(--switch-button-bg) var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    transition: left 0.2s ease;
}

:global(.light) .switch .switchButton {
    right: 0;
    left: calc(100% - 32px);
}

.switchIcon {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

